<footer>
  <p class="last-updated">Last updated: {{ .Params.updated }}</p>
  <!-- {{ .Lastmod.Format "January 2, 2006" }} -->

  <ul>
    <li><a href="http://www.fws.gov">U.S. Fish and Wildlife Service Home Page</a></li>
    <li><a href="http://www.doi.gov/">Department of the Interior</a></li>
    <li><a href="http://www.usa.gov/">USA.gov</a></li>
    <li><a href="http://www.fws.gov/help/about_us.html">About the U.S. Fish and Wildlife Service</a></li>
    <li><a href="http://www.fws.gov/help/accessibility.html">Accessibility</a></li>
    <li><a href="http://www.fws.gov/help/policies.html">Privacy</a></li>
    <li><a href="http://www.fws.gov/help/notices.html">Notices</a></li>
    <li><a href="http://www.fws.gov/help/disclaimer.html">Disclaimer</a></li>
    <li><a href="http://www.doi.gov/foia/">FOIA</a></li>
  </ul>
</footer>
