<header>
  <img class="logo" src="https://www.fws.gov/home/graphics/logo.png" alt="Official Web page of the U S Fish and Wildlife Service"/>
  <div class="header-bar">
    <p>U.S. Fish and Wildlife Service</p>
  </div>
  <div class="header-bar">
    <p><a href="/">Gulf Restoration Program</a></p>
  </div>

  <div class="search-bar">
    <!-- USAGOV SEARCH FORM -->
    <form accept-charset="UTF-8" action="https://search.usa.gov/search" id="search_form" method="get">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input id="affiliate" name="affiliate" type="hidden" value="fws.gov" />
      <label for="query" id="query-field" style="display:none">Enter Search Term(s):</label>
      <input autocomplete="off" class="usagov-search-autocomplete" id="query" name="query" type="text" />
      <input name="commit" type="submit" value="Search" class="form-search" />
    </form>
    <!-- END USAGOV SEARCH FORM -->
  </div>
</header>
