{{ if .Params.hero }}
<div class="hero-banner">
  {{ if .Params.hero.link }}<a href="{{ .Params.hero.link }}">{{ end }}
    <img class="hero-image" sizes="100vw" alt="{{ .Params.hero.alt }}" title="{{ .Params.hero.caption }}" srcset="/images/hero/{{ .Params.hero.name }}/400.jpg 400w, /images/hero/{{ .Params.hero.name }}/800.jpg 800w, /images/hero/{{ .Params.hero.name }}/1100.jpg 1100w" src="images/hero/{{ .Params.hero.name }}/400.jpg">
  </a>
</div>
{{ else }}
<div class="hero-banner">
  <img class="hero-image" sizes="100vw" alt="Kemp's Ridley sea turtle hatchlings on a beach" title="Kemp's Ridley sea turtle hatchlings on a beach" srcset="/images/hero/kemps-ridley-hatchlings/400.jpg 400w, /images/hero/kemps-ridley-hatchlings/800.jpg 800w, /images/hero/kemps-ridley-hatchlings/1100.jpg 1100w" src="images/hero/kemps-ridley-hatchlings/400.jpg">
</div>
{{ end }}
