{{ if .Params.hero }}
<div class="hero-banner">
  <a href="https://flic.kr/p/7Zmwbs">
    <img class="hero-image" sizes="100vw" alt="An alligator sun bathes next to a marsh at St. Marks NWR" title="Alligator sunning at St. Marks. Photo: Steve Hillebrand, USFWS." srcset="/images/hero/{{ .Params.hero.name }}/400.jpg 400w, /images/hero/{{ .Params.hero.name }}/800.jpg 800w, /images/hero/{{ .Params.hero.name }}/1100.jpg 1100w" src="images/hero/{{ .Params.hero.name }}/400.jpg">
  </a>
</div>
{{ else }}
<div class="hero-banner">
  <a href="https://flic.kr/p/7Zmwbs">
    <img class="hero-image" sizes="100vw" alt="An alligator sun bathes next to a marsh at St. Marks NWR" title="Alligator sunning at St. Marks. Photo: Steve Hillebrand, USFWS." srcset="/images/hero/alligator/400.jpg 400w, /images/hero/alligator/800.jpg 800w, /images/hero/alligator/1100.jpg 1100w" src="images/hero/alligator/400.jpg">
  </a>
</div>
{{ end }}
