<div class="nav-bar">
  <button class="toggle-nav">Menu</button>
  <nav class="main-nav">
    <ul>
      <li><a href="/">Gulf Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/birds">Birds</a></li>
      <li><a href="/fish">Fish</a></li>
      <li><a href="/invertebrates">Invertebrates</a></li>
      <li><a href="/program">Our Program</a></li>
      <li><a href="/responsibilities">Our Responsibilities</a></li>
      <li><a href="/news">News</a></li>
    </ul>
  </nav>
</div>
