<div class="nav-bar">
  <button class="toggle-nav">Menu</button>
  <nav class="main-nav">
    <ul>
      <li><a href="/">Gulf Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/vision">Service's Vision</a></li>
      <li><a href="/restoration">Restoration</a></li>
      <li><a href="/facts">Fact Sheets</a></li>
      <li><a href="/birds">Birds of the Gulf</a></li>
      <li><a href="/water-quality">Water Quality</a></li>
      <li><a href="/endangered-species">Threatened and Endangered Species</a></li>
      <li><a href="/acts-of-congress">Acts of Congress</a></li>
      <li><span class="drop-down"><a href="">Working with Others</a></span>
        <ul>
          <li><a href="/working-with-others">Working with Others</a></li>
          <li><a href="/working-with-others/landscape-conservation-cooperatives">Landscape Conservation Cooperatives</a></li>
          <li><a href="/working-with-others/state-and-federal-entities">Joint State-Federal Entities</a></li>
          <li><a href="/working-with-others/non-governmental-organizations">Non-Governmental Organizations</a></li>
          <li><a href="/working-with-others/other-government-entities">Other Government Entities</a></li>
        </ul>
      </li>
      <li><a href="/resources">More Resources</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>
</div>
