.nav-bar {
  background-color: $black;
  margin-top: -5px;
  min-height: 55px;
  padding: 10px 0;

  a {
    background: lighten($black, 10);
    border-radius: 5px;
    color: $white;
    display: block;
    padding: .25em;
    text-decoration: none;

    &:hover {
      background: lighten($black, 20);
    }

    &:active,
    &:hover,
    &:visited {
      color: $white;
    }
  }
}

.main-nav {
  display: none;

  &.active {
    display: block;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      margin-bottom: 0;

      &:hover {
        ul {
          background-color: $black;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          display: block;
          min-width: 250px;

          li {
            display: block;
          }

          @media (min-width: $break-md) {
            display: block;
            left: 0;
            padding: 0;
            position: absolute;
            top: 100%;
            z-index: 50;
          }
        }
      }

      ul {
        display: none;
      }
    }
  }

  @media (min-width: $break-md) {
    display: block;

    li {
      display: inline-block;
      margin: .25em;
    }
  }
}

.toggle-nav {
  background-color: $blue;
  border: 3px solid lighten($blue, 10);
  border-radius: 5px;
  color: $white;
  font-size: .8em;
  margin-left: $leading / 2;
  padding: .4em;

  @media (min-width: $break-md) {
    display: none;
  }
}

.drop-down {
  background: lighten($black, 10);
  border-radius: 5px;
  color: $white;
  display: block;

  &:hover {
    cursor: pointer;
  }
}
