.news-releases {
  clear: both;

  article {
    margin: 0 auto $leading;
    max-width: 800px;
  }

  img {
    margin: $leading 0 $leading $leading;
  }

  @media (min-width: $break-md) {
    article {
      border: 1px solid $gray;
      border-radius: 5px;
      box-shadow: 5px 5px 5px 0 $gray;
      padding: 1em;
    }
  }

  @media (min-width: $break-lg) {
    display: inline-block;
    margin-right: 4%;
    width: 48%;
  }
}

.news-title {
  color: $blue;
}

.news-date {
  font-weight: bold;
  position: relative;
  top: 10px;
}

.read-more {
  text-align: right;
}

.news-archive {
  margin-bottom: 2em;
  text-align: center;
}

.news-links {
  text-align: center;

  p {
    margin-top: 0;
  }
}
