img {
  height: auto;
  max-width: 100%;
}

.image-right {
  float: right;
  margin: $leading 0 $leading $leading;
}

.photo {
  background-color: $white;
  border: 1px solid $gray;
  margin: auto;
  max-width: 300px;
  padding: 3px;

  figcaption,
  p {
    color: $blue;
    font-size: .8em;
    margin: 0 5px;
  }

  @media (min-width: $break-md) {
    float: right;
  }
}

figure {
  background-color: $white;
  border: 1px solid $gray;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: table;
  font-size: .875em;
  padding: 5px;

  a {
    text-decoration: none;
  }

  img {
    display: block;
    width: 100%;
  }
}

figcaption {
  background: $white;
  border: 1px solid $gray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0;
  caption-side: bottom;
  color: $blue;
  display: table-caption;
  padding: 5px;
  text-align: center;
}
