img {
  height: auto;
  max-width: 100%;
}

.photo {
  background-color: $white;
  border: 1px solid $gray;
  margin: auto;
  max-width: 300px;
  padding: 3px;

  figcaption,
  p {
    color: $blue;
    font-size: .8em;
    margin: 0 5px;
  }

  @media (min-width: $break-md) {
    float: right;
  }
}
