// Breakpoints
$max-width: 1100px;
$break-md: 800px;

// Colors
$blue: #369;
$black: #000;
$white: #fff;
$focus: #ffff00;

// Fonts
$serif: 'Droid Serif', Georgia, serif;
$sans-serif: Roboto, Helvetica, 'Helvetica Neue', 'Arial', sans-serif;
