// Breakpoints
$max-width: 1100px;
$break-lg: 1250px;
$break-md: 800px;

// Colors
$blue: #369;
$black: #000;
$white: #fff;
$focus: #ff0;
$gray: #ccc;

// Fonts
$serif: 'Droid Serif', Georgia, serif;
$sans-serif: Roboto, Helvetica, 'Helvetica Neue', 'Arial', sans-serif;
