// Breakpoints
$max-width: 1100px;

// Colors
$blue: #369;
$black: #000;
$white: #fff;

// Fonts
$serif: 'Droid Serif', Georgia, serif;
$sans-serif: Roboto, Helvetica, 'Helvetica Neue', 'Arial', sans-serif;
