@import 'variables';
@import 'fonts';
@import 'typography';
@import 'base';
@import 'layout';
@import 'header';
@import 'nav';
@import 'footer';
@import 'links';
@import 'photo';
@import 'news';
@import 'social';

.trends {
  margin: auto;
  max-width: 500px;
}

.trend {
  margin-bottom: 1.5em;
  overflow: auto;
  zoom: 1;

  p {
    margin: 0;
    margin-left: 60px;
  }

  img {
    float: left;
  }
}

input {
  &[type=search],
  &[type=submit],
  &[type=text] {
    border-radius: 5px;
    padding: 5px;
  }
}

@media (min-width: 1250px) {

  .gulf-information {
    display: inline-block;
    margin-left: -4px;
    vertical-align: top;
    width: 47%;
  }
}

.single-column {
  margin: auto;
  max-width: 1000px;

  figure {
    margin: auto;

    @media (min-width: 750px) {
      float: right;
      margin: 0 0 25px 25px;
    }
  }
}
